.idea
cmake-build-debug*
CMakeLists.txt

m00/ex00/objs/*.o
m00/ex00/megaphone
m00/ex01/objs/*.o
m00/ex01/phonebook

m01/ex00/objs/*.o
m01/ex00/zombie
m01/ex01/objs/*.o
m01/ex01/horde
m01/ex02/objs/*.o
m01/ex02/brain
m01/ex03/objs/*.o
m01/ex03/violence
m01/ex04/objs/*.o
m01/ex04/replace
m01/ex04/text.replace
m01/ex05/objs/*.o
m01/ex05/complain

m02/ex00/objs/*.o
m02/ex00/fixed
m02/ex01/objs/*.o
m02/ex01/fixed
m02/ex02/objs/*.o
m02/ex02/fixed

m03/ex00/objs/*.o
m03/ex00/claptrap
m03/ex01/objs/*.o
m03/ex01/claptrap
m03/ex02/objs/*.o
m03/ex02/claptrap
